.order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 20px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.04em;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:focus,
.button:hover {
  outline: none;
  background-color: #2c5282;
}

.custom-button {
  font-size: 16px;
  color: #2e2f42;
  border: none;
  padding: 10px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.custom-button:focus,
.custom-button:hover {
  outline: none;
  color: #cc0000;
}
