.products-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: 60px;
  margin-left: 150px;
  gap: 10px;
}

.products-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.products-title {
  font-size: 18px;
  align-self: center;
}

.handle-filter {
  align-self: center;
}

.product {
  display: flex;
  gap: 10px;
}
