.product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 20px;
  width: 80vw;
  font-weight: 500;
  font-size: 11px;
  color: #2e2f42;
  letter-spacing: 0.04em;
  border: solid 1px rgb(138, 146, 146);
  border-radius: 4px;
}

.product-monitor {
  /* max-width: 100%; */
  max-height: 20px;
}

.type-wrapper {
  width: 95px;
  text-align: start;
}
